.jumbotron{
	background-image: url("../images/flag2.jpg");
	font-family: 'Rozha One', serif;
}

h1{
	font-weight: bolder;
	font-size: 72px;
}

h3{
	font-weight: bolder;
	font-size: 40px;
}

th{
	font-size: 20px;
}

tr{
	font-size: 16px;
}

body{
	font-family: 'Rozha One', serif;
	font-weight: bolder;

}

.panel-primary .panel-heading{
	background-color: #0D0A8C;
}

.panel-default .panel-heading{
	background-color: #0D0A8C;
	color: white;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

#add-train{
	background-color: #0D0A8C;
}


